<%- include("header.ejs") %>


    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/animedesc.css">
    </head>

    <body>


        <div class="top-container">
            <div class="background-img"></div>
            <div class="info-container">


                <div class="info-left">

                    <div class="info-left-img-container">
                        <img src="<%= info.image %>" alt="">
                    </div>

                    <div class="info-left-desc">
                        <p class="anime-name">
                            <%= info.name_english %>
                        </p>
                        <div class="episode-info">
                            <p>
                                <%= info.episodes %> episodes
                            </p>
                            <div class="separation-circle"></div>
                            <p>
                                <%= info.duration %>
                            </p>
                        </div>
                        <div class="rating-ranking">
                            <div class="rating">
                                <div>
                                    <i class="ai-star"></i>
                                    <%= info.rating %>
                                </div>
                                <p class="rating-ranking-sub-text">
                                    <%= info.rated_by %> people
                                </p>
                            </div>
                            <div class="ranking">
                                <p>
                                    #<%= info.rank %>
                                </p>
                                <p class="rating-ranking-sub-text">Ranking</p>
                            </div>
                        </div>

                        <div class="age_rating">
                            <p>
                                <%= info.age_rating %>
                            </p>
                        </div>

                        <div class="favourites-btn-container">
                            <% if(locals.user) { %>
                                <form action="/new/favourite" method="POST">
                                    <input hidden type="text" name="userName" value="<%= user %>">
                                    <input hidden type="text" name="animeId" value="<%= info.id %>">
                                    <input class="favourites-btn" type="submit" value="Add to Favourites">
                                </form>
                                <% } else { %>
                                    <button class="favourites-btn" onclick="favouritesAlert()">Add to
                                        Favourites</button>

                                    <div class="favourites-alert">
                                        <p>Action requires login!</p>
                                    </div>
                                    <% } %>
                        </div>

                        <div class="description">
                            <p>
                                <%= info.synopsis %>
                            </p>
                        </div>

                    </div>


                </div>
                <div class="info-right">
                    <div class="description">
                        <p>Synopsis:</p>
                        <p>
                            <%= info.synopsis %>
                        </p>
                    </div>
                    <p>Japanese: <%= info.name_jap %>
                    </p>
                    <p>Status: <%= info.status %>
                    </p>
                    <p>Aired: <%= info.aired %>
                    </p>
                    <p>Duration: <%= info.duration %>
                    </p>
                    <p>MAL Score: <%= info.rating %>
                    </p>
                    <p>Favourites: <%= info.favourites %>
                    </p>

                    <div class="genres">
                        <p>Genres: </p>
                        <% info.genres.forEach((genre)=> { %>

                            <span>
                                <%= genre.name %>
                            </span>

                            <% }) %>
                    </div>

                    <div class="studios">
                        <p>Studios:</p>


                        <span>
                            <% info.studios.forEach((studio)=> { %>
                                <%= studio.name %>
                                    <% }) %>
                        </span>



                    </div>
                    <div class="producers">
                        <p>Producers: </p>


                        <span>
                            <% info.producers.forEach((producer)=> { %>
                                <%= producer.name %>,
                                    <% }) %>
                        </span>



                    </div>
                </div>

            </div>




        </div>

        <div class="container2">
            <div class="trailer">
                <p>Trailer</p>
                <iframe src="<%= info.trailer %>&loop=1&playlist=<%= info.trailerId %>"
                    referrerpolicy="strict-origin-when-cross-origin" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>

            <div class="reviews">

                <p>Reviews</p>


                <div class="existing">
                    <% reviews.forEach((review)=> { %>

                        <% if (review.review !== "" ) { %>
                            <div class="review-item">
                                <p>
                                    (<%= review.user_name %>)
                                </p>
                                <p>
                                    <%= review.review %>
                                </p>
                            </div>
                        <% } %>
                    <% }) %>

                </div>


                
                <% if (locals.user) { %>

                    <form action="/new/review" method="POST">
                        <input hidden type="text" name="animeId" value="<%= info.id %>">
                        <input hidden type="text" name="userId" value="<%= user %>">
                        <textarea class="review-input" name="review" id=""
                            placeholder="Don't forget to drop a review!"></textarea>
                        <input class="review-submit" type="submit" value="Submit">
                    </form>

                    <% } else { %>
                        <form action="" method="n">
                            <textarea class="review-input" name="review" id=""
                                placeholder="Login to drop reviews!"></textarea>
                        </form>
                        <button class="review-submit" onclick="reviewAlert()">Submit</button>

                        <div class="review-alert">
                            <p>Action requires login!</p>
                        </div>
                        <% } %>



            </div>

        </div>





    </body>


    <script>

        function favouritesAlert() {

            const alertbox = document.querySelector(".favourites-alert");

            alertbox.style.transform = "translateY(135px)";

            setTimeout(() => {
                alertbox.style.transform = "translateY(-65px)";
            }, 1500)

        }

        function reviewAlert() {

            const alertbox = document.querySelector(".review-alert");

            alertbox.style.opacity = "1";
            alertbox.style.transform = "translateY(0)";

            setTimeout(() => {
                alertbox.style.opacity = "0";
                alertbox.style.transform = "translateY(-200px)";
            }, 1000)

        }


    </script>


    </html>



    <%- include("footer.ejs") %>